body {
  background-color: rgb(11, 11, 37);
}

span {
  font-size: 70px;
  color: aliceblue;
}

#root {
  height: 100vh;
}

.AppDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  position: absolute;
  top: 10%;
  font-size: 90px;
  color: blanchedalmond;
}

.App__btns {
  margin-top: 20px;
  transform: scale(2);
}

.App__btns button:first-child {
  margin-right: 10px;
}
